<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row" ng-controller="dailyCalorieCtrl">
    <div class="col-xs-12 col-sm-6">
      <h1>
        <p class="text-center">
          <small>{{ vm.message }}</small>
        </p>
      </h1>
      <div class="well" ng-repeat="meal in vm.meals" ng-style="vm.styleCalorieInput"> 
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="https://spoonacular.com/recipeImages/{{ meal.image }}" alt="meal image"/>
          </a>
        </div>
        <div class="col-xs-12">
          <h3>
            <span class="badge pull-right badge-default">{{ meal.readyInMinutes }} min</span>
            <a href="/instructions/{{ meal.id }}">{{ meal.title }}</a>
          </h3>
          <input type="checkbox" ng-model="meal.isChecked" ng-change="vm.saveMeal(meal)" class="pull-right"> {{ meal.isChecked }}
          <p>{{ meal.servings }} servings</p>
        </div>
      </div>
    </div>

    <!-- Nutrient composition -->
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-primary" ng-style="vm.styleNutrientDisplay">
        <div class="panel-heading">
          <h3 class="panel-title">Nutrients</h3>
        </div>
        <div class="panel-body">
          <h4>Calories: {{ vm.nutrients.calories }}</h4>
          <h4>Protein: {{ vm.nutrients.protein }}</h4>
          <h4>Fat: {{ vm.nutrients.fat }}</h4>
          <h4>Carbohydrates: {{ vm.nutrients.carbohydrates }}</h4>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 pull-right">
      <form class="form-horizontal" name="vm.mealForm" ng-submit="vm.onSubmit()" role="form" novalidate>
        <div class="form-group">
          <p>
            <label class="col-xs-10 col-sm-2 control-label" for="calories">Calorie Target</label>
          </p>
          <div class="col-xs-12 col-sm-10">
            <input type="text" class="form-control" id="calories" ng-model="vm.calorieParams.targetCalories" name="calories" required/>
            <span ng-show="vm.targetCaloriesInvalid" ng-style="vm.errorInput"> Please enter a value for calorie target</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Get daily Meal Plan</button>
      </form>
    </div>
  </div>
    
  
  <footer-generic></footer-generic>

</div>    

    
