extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
      h1=title
  .row
    .col-md-6.col-sm-12
      p
        | Nutrio helps track nutrient intake and gives meal suggestions
        
        | You can also ask Nutrio simple questions about what you eat!